In [28]:
import pandas as pd

d = pd.read_csv('ipl-matches.csv')
df = pd.DataFrame(d)
# print(df)
# print(df.info())
# print(df.nunique())

# changed_name = {'Delhi Daredevils':'Delhi Capitals','KingS XI Punjab':'Punjab Kings','Rising Pune Supergiants':'Rising Pune Supergiant'}
# df = df.replace(changed_name.keys(),changed_name.values())
# print(df)

# df = df.dropna()
# teams = df.Team1.unique()
# new_df = pd.DataFrame()
# data = []
# for team in teams:
#     played = df[(df.Team1 == team) | (df.Team2 == team)].shape[0]
#     win = df[df.WinningTeam == team].shape[0]
#     home_win = df[(df.WinningTeam == team) & (df.Team1 == team)].shape[0]/df[df['Team1']==team].shape[0]*100
#     away_win = df[(df.WinningTeam == team) & (df.Team2 == team)].shape[0]/df[df['Team2']==team].shape[0]*100
#     data.append([team,played,(win/played)*100,home_win,away_win])
# new_df[['Team','match_played','win%','home%','away%']] = data
# print(new_df)

In [34]:
d = pd.read_csv('ipl-matches.csv')
df = pd.DataFrame(d)
new_df = pd.DataFrame()
teams = df.Team1.unique()
data = []
for team in teams:
    played = df[((df.Team1 == team) | (df.Team2 == team)) & (df.Season == '2022')].shape[0]
    win = df[(df.WinningTeam == team) & (df.Season == '2022')].shape[0]
    points = win*2
    data.append([team,played,win,points])
new_df[['Team','played','win','points']] = data
print(new_df)

                           Team  played  win  points
0              Rajasthan Royals      17   10      20
1   Royal Challengers Bangalore      16    9      18
2           Sunrisers Hyderabad      14    6      12
3                Delhi Capitals      14    7      14
4           Chennai Super Kings      14    4       8
5                Gujarat Titans      16   12      24
6          Lucknow Super Giants      15    9      18
7         Kolkata Knight Riders      14    6      12
8                  Punjab Kings      14    7      14
9                Mumbai Indians      14    4       8
10              Kings XI Punjab       0    0       0
11             Delhi Daredevils       0    0       0
12       Rising Pune Supergiant       0    0       0
13                Gujarat Lions       0    0       0
14      Rising Pune Supergiants       0    0       0
15                Pune Warriors       0    0       0
16              Deccan Chargers       0    0       0
17         Kochi Tuskers Kerala       0    0       0

In [67]:
d = pd.read_csv('train.csv')
df = pd.DataFrame(d)
# print(df)
# print(df.shape)
# print(df.isna())
# print(df.describe())
# print(df.describe(exclude=np.number))
# print(df.nunique())
# print(df.duplicated())

# changed = {0:'die',1:'survive'}
# df['Survived'] = df.replace(changed.keys(),changed.values())
# c_cabin = df['Cabin'].astype('str')
# c_cabin = np.array([Cabin[0] for Cabin in c_cabin])
# new_cabin = pd.Categorical(c_cabin)
# new_cabin.describe()
# df['Cabin'] = new_cabin
# print(df)

# df['Age'] = df['Age'].fillna(df['Age'].mean())
# print(df)

bins = [0,12,18,30,50,100]
labels = ['child','teenager','young adult','adult','senior']
df['AgeGroup'] = pd.cut(df['Age'],bins=bins,labels=labels)
pd.crosstab([df['AgeGroup'],df['Sex']],df['Survived'])

Survived              0   1
AgeGroup    Sex
child       female   13  19
            male     16  21
teenager    female    9  27
            male     31   3
young adult female   22  68
            male    152  28
adult       female   19  67
            male    120  35
senior      female    1  16
            male     41   6